* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    margin-top: 60px;
    margin-left: 370px;
    max-width: 935px;
    background-color: #495;
}

.mainItem {
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 24px;
    word-wrap: break-word;
    max-width: 935px;
}

.header {
    position: fixed;
    top: 0;
    background: #999;
    height: 50px;
    width: 100vw;
}
.nav {
    background-color: #721;
    height: 420px;
    width: 220px;
    position: fixed;
    top: 80px;
    left: 120px;
}
code {
    word-wrap: break-word;
}
