.mainHeading {
    padding-top: 9px;
    padding-bottom: 39px;
    word-wrap: break-word;
    max-width: 935px;
    border-bottom: 1px solid rgba(120, 134, 156, 0.08);
    &__heading {
        font-size: 31px;
        color: #0d2b3e;
        font-weight: 400;
    }
    &__def {
        font-size: 15px;
        color: #373e42;
        line-height: 26px;
    }
}

.mainItem {
    padding: 39px 0;
    font-size: 24px;
    word-wrap: break-word;
    max-width: 935px;
    border-bottom: 1px solid rgba(120, 134, 156, 0.08);
    &__heading {
        font-size: 22px;
        color: #0d2b3e;
        font-weight: 600;
    }
    &__def {
        font-size: 15px;
        color: #373e42;
        line-height: 26px;
    }
}
