.sidebar {
    background-color: #f5f7f9;
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
}
.navig {
    margin-left: 15vw;
    height: 100%;
    min-width: 15vw;
    display: flex;
    flex-direction: column;

    &__logo {
        color: #1b7cd5;
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 3em;
    }
}
.activeNav {
    font-size: 200px;
    background-color: #000;
    font-size: bold;
}
.card {
    background-color: #f5f7f9;
    border: none;
}
li {
    list-style: none;
}
ul {
    margin: 0;
}
.card {
    padding: 0 1em;
}
a {
    color: #373e42;
}
